# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.lo
*.la
config.*
configure
Makefile*
libtool*
.deps*
*.in
*.o
config.h.in
src/gpt
src/modules/c_translator/Portugol2CWalker.cpp
src/modules/c_translator/Portugol2CWalker.hpp
src/modules/c_translator/Portugol2CWalkerTokenTypes.hpp
src/modules/c_translator/Portugol2CWalkerTokenTypes.txt
src/modules/c_translator/PortugolTokenTypes.txt
src/modules/interpreter/InterpreterWalker.cpp
src/modules/interpreter/InterpreterWalker.hpp
src/modules/interpreter/InterpreterWalkerTokenTypes.hpp
src/modules/interpreter/InterpreterWalkerTokenTypes.txt
src/modules/interpreter/PortugolTokenTypes.txt
src/modules/parser/PortugolLexer.cpp
src/modules/parser/PortugolLexer.hpp
src/modules/parser/PortugolParser.cpp
src/modules/parser/PortugolParser.hpp
src/modules/parser/PortugolParserTokenTypes.hpp
src/modules/parser/PortugolParserTokenTypes.txt
src/modules/parser/PortugolTokenTypes.hpp
src/modules/parser/PortugolTokenTypes.txt
src/modules/parser/SemanticWalker.cpp
src/modules/parser/SemanticWalker.hpp
src/modules/parser/SemanticWalkerTokenTypes.hpp
src/modules/parser/SemanticWalkerTokenTypes.txt
src/modules/x86/PortugolTokenTypes.txt
src/modules/x86/X86Walker.cpp
src/modules/x86/X86Walker.hpp
src/modules/x86/X86WalkerTokenTypes.hpp
src/modules/x86/X86WalkerTokenTypes.txt
stamp-h1
